body{
	font-family: 'Roboto', sans-serif;
}
.caja{
	background-color: #9B0022;
}

header{
	text-align: center;
}

.fondo{
	background-image: url(http://wallpapercave.com/wp/r8nHMaK.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.fondo.container{
	background-color: rgba(255,255,255, 0.5);
	position: relative;
	height: 100vh;
}

.texto{
	position: absolute;
	top: 40%;
	left: 35%;
}
button{
	float: right;
	clear: both;

}